[submodule "local-plugins/capacitor-whisper/android/src/main/cpp/whisper-cpp"]
	path = local-plugins/capacitor-whisper/android/src/main/cpp/whisper-cpp
	url = https://github.com/ggml-org/whisper.cpp
[submodule "local-plugins/capacitor-llama/android/src/main/cpp/llama-cpp"]
	path = local-plugins/capacitor-llama/android/src/main/cpp/llama-cpp
	url = https://github.com/ggml-org/llama.cpp
