[submodule "local-plugins/capacitor-whisper/android/src/main/cpp/whisper-cpp"]
	path = local-plugins/capacitor-whisper/android/src/main/cpp/whisper-cpp
	url = https://github.com/ggerganov/whisper.cpp
